<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smoothies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/smoothies/">Smoothie Recipes</a> |
    <a href="/smoothies/new">Add Recipe</a>
    <h1>All Recipes</h1>
    <h2>Organic, healthy, delicious</h2>
    <table id="list">
        <thead>
            <tr>
                <th>BOOST PACK</th>
                <th>CLASSIC</th>
                <th>PLANT BASED</th>
            </tr>
        </thead>
        <tbody>
            <% smoothies.forEach(function(s) { %>
            <tr>
                <td><%= s.name %></td>
                <td><%= s.image %></td>
                <td><%= s.recipe %></td>
                <td><%= s.description %></td>
                <td><a href="/smoothies/<%= f._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>