<%- include('../partials/header') %>
<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%= recipe.name %>">
    <label>Recipe:</label>
    <input type="text" name="recipe" value="<%= recipe.recipe %>">
    <label>Description:</label>
    <input type="text" name="description" value="<%= recipe.description %>">
    <button type="submit">ADD RECIPE</button>
</form>
<%- include('../partials/footer') %>